/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&family=Rowdies&display=swap" rel="stylesheet">

font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rowdies', cursive;
*/
html{
    height: 100%;
    width: 100%;
    background-color:  #ffffffcc;
    background: url(../images/pexels-philipp-m-100582.jpg) no-repeat 0,0 #ffffffcc;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    position: relative;
}
html::after{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color:  #ffffffcc;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
    /*background-color: rgba(255, 255, 255, 80%);*/

    grid-template-rows: 10% 50% 40%;
    justify-items: center;
}
#main-menu{
    background-color: rgba(252, 175, 82, 0.685);
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    height: 700px;
    margin: 40px;
    margin-bottom: 2%;
    width: 1500px;
    line-height: 30px;
    border-radius: 50px;
}
#first-column{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
#second-column{
    justify-items: center;
    padding: 50px;
}
#third-column{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#Title{
    /*position:sticky;*/
    justify-items: center;
    margin-bottom: 3%;
}
#post-section{
    background-color: rgba(252, 175, 82, 0.685);
    border-radius: 50px;
    padding: 20px;
    margin:0px 400px;
    margin-top:0%;
    height:min-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.face-pic{
    height: 480px;
    width: 480px;
    margin: 0px;
    padding-top: 50px;
}
h1{
    font-family: 'Rowdies', cursive;
    font-size: 100px;
    text-align: center;
}
h2, h3{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
#text-around-1 > h2{
    padding-left: 210px;
    transition: all 500ms ease;
}
#text-around-1 > p{
    padding-left: 240px;
}
#text-around-2 > h2{
    padding-left: 175px;
    padding-right: 10px;
    transition: all 500ms ease;
}
#text-around-2 > p{
    padding-left: 175px;
    padding-right: 10px;
}
#text-around-3 > h2{
    padding-left: 150px;
    padding-right: 100px;
    transition: all 500ms ease;
}
#text-around-3 > p{
    padding-left: 150px;
    padding-right: 100px;
}
#text-around-4 > h2{
    padding-left: 180px;
    padding-right: 0px;
    transition: all 500ms ease;
}
#text-around-4 > p{
    padding-left: 165px;
    padding-right: 0px;
}
#text-around-5 >h2{
    padding-left: 320px;
    transition: all 500ms ease;
}
#text-around-5 >p{
    padding-left: 250px;
}
#text-around-6 > h2{
    padding-right: 180px;
    transition: all 500ms ease;
}
#text-around-6 > p{
    padding-right: 220px;
    padding-left: 10px;
}
#text-around-7 > h2{
    padding-right: 125px;
    transition: all 500ms ease;
    padding-left: 50px;
}
#text-around-7 > p{
    padding-right: 125px;
    padding-left: 50px;
}
#text-around-8 > h2{
    padding-right: 100px;
    padding-left: 80px;
    transition: all 500ms ease;
}
#text-around-8 > p{
    padding-right: 100px;
    padding-left: 80px;
}
#text-around-9 > h2{
    padding-right: 125px;
    padding-left: 50px;
    transition: all 500ms ease;
}
#text-around-9 > p{
    padding-right: 125px;
    padding-left: 50px;
}
#text-around-10 >h2{
    padding-right: 180px;
    transition: all 500ms ease;
}
#text-around-10 >p{
    padding-right: 180px;
    padding-left: 10px;
}
#text-around-1 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-2 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-3 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-4 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-5 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-6 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-7 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-8 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-9 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
#text-around-10 > h2:hover{
    color:rgba(66, 185, 221, 0.945);
    font-size:35px;
    cursor:pointer;
    text-decoration:underline;
}
.Recent-posts{
    display: grid;
    overflow: hidden;
    grid-template-rows: 20% 20% 60% ;
    row-gap: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color, margin 600ms ease;
    overflow: hidden;
}
.Recent-posts:hover{
    
    background-color: rgba(252, 175, 82, 0.685);
    border:2px solid black;
    margin:5px;
}
.Recent-posts > img{
    /*justify-items:stretch;*/
    height:240px ;
    width:400px;
    margin-left: 8px;
    padding: 5px;
    /*padding-top: 15px;*/
}